<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>

    <title>Spring Boot Thymeleaf Hello World Example</title>
</head>

<body>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <input id="datepicker" type="datetime-local" name="date" placeholder="Date" data-target="#Datetimepicker" />

    <form>
        <td th:text="${#dates.format(date, 'dd.mm.yyyy HH:mm')}"></td>
        
        <div id="datetimepicker1" data-target-input="nearest">
           <div data-target="#date" data-toggle="datetimepicker">
            <input type="datetime-local" class="form-control datetimepicker-input" data-target="#datetimepicker1" 
            th:value="${#dates.format(date, 'yyyy-MM-dd HH:mm')}" id="datetimepicker1" placeholder="Date" 
            th:onchange="reloadAlleyOptions(this.getAttribute('data-date'))" th:data-date="*{date}"/>
                <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
            </div>
        </div>
    </form>
</body>

<script>
​
    $("#datetimepicker1").datetimepicker({
        onSelect: function () {
            console.log("a")
        }
    });

    $('#datepicker').datepicker()
    .on("input change", function (e) {
    console.log("Date changed: ", e.target.value);
});

    $.fn.datetimepicker({
        onSelect: function (dateText) {
            console.log("Selected date: " + dateText + "; input's current value: " + this.value);
        }
    });

    function idk(i) {
        console.log(i)
    }
</script>

<script>
    $('#datepicker').datepicker()
    .on("input change", function (e) {
    console.log("Date changed: ", e.target.value);
});

    $(document).bind("ajaxSend", function () {
        console.log("waiting for all requests to complete...");
    }).bind("ajaxStop", function () {
        location.reload();
    });

    function reloadAlleyOptions(date) {
        console.log(date)
        console.log("---")
        $.ajax({
            method: "post",
            type: "POST",
            url: "/welcome/a?date=" + date,
            success: function (response) {

            },
            error: function (e) {}
        });
    }
</script>

</html>