<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <title>Spring Boot Thymeleaf Hello World Example</title>
</head>

<body>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <input id="datepicker" type="datetime-local" name="date" placeholder="Date" data-target="#Datetimepicker" />

    <select id="typeSelection" onchange="selectType();" onfocus="this.selectedIndex = -1;">
        <option id="Bowling">Bowling</option>
        <option id="NinePin">Nine Pin</option>
    </select>

    <table>
        <tr>
            <th>Timeslots</th>
            <th th:each="entry, it : ${dates}" th:with="index = ${it.count}">
                <p class="card" th:id="entry+${entry}" th:text="${#dates.format(entry, 'HH:mm')}"></p>
            </th>
        </tr>


        <tr>
            <td>alley 1</td>
        <td th:each="entry, it : ${alleys}" th:with="index = ${it.count}">
           
            <div class="card" th:id="entry+${entry}">
                <button th:onclick="bookTimeslot(this.getAttribute('data-date'))"  th:data-date="*{entry}"></button>
            </div>
        </td>
        </tr>
      

        <tr>
            <td>alley 2</td>
        <td th:each="entry, it : ${alleys}" th:with="index = ${it.count}">
           
            <div class="card" th:id="entry+${entry}">
                <button th:onclick="bookTimeslot(this.getAttribute('data-date'))"  th:data-date="*{entry}"></button>
            </div>
        </td>
        </tr>

    <!-- working stuff above-->

    <form>
        <td th:text="${#dates.format(date, 'dd.MM.yyyy HH:mm')}"></td>
        <div id="datetimepicker1" data-target-input="nearest">
           <div data-target="#date" data-toggle="datetimepicker">
            <input type="datetime-local" class="form-control datetimepicker-input" data-target="#datetimepicker1" 
            th:value="${#dates.format(date, 'yyyy-MM-dd HH:mm')}" id="datetimepicker1" placeholder="Date" 
            th:onchange="reloadAlleyOptions(this.getAttribute('data-date'))" th:data-date="*{date}"/>
                <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
            </div>
        </div>
    </form>
</body>



<script>
    $('#datepicker').datepicker()
    .on("input change", function (e) {
    console.log("Date2 changed: ", e.target.value);
});

    $(document).bind("ajaxSend", function () {
        console.log("waiting for all requests to complete...");
    }).bind("ajaxStop", function () {
        location.reload();
    });

    function bookTimeslot(i) {
        console.log(i)
        $.ajax({
            method: "post",
            type: "POST",
            url: "/welcome/d?slot=" + i,
            success: function (response) {

            },
            error: function (e) {}
        });
    }

    function reloadAlleyOptions(date) {
        console.log(date)
        console.log("---")
        $.ajax({
            method: "post",
            type: "POST",
            url: "/welcome/a?date=" + date,
            success: function (response) {

            },
            error: function (e) {}
        });
    }

    function selectType() {
        let type = document.getElementById('typeSelection').selectedOptions[0].text

        console.log(type)
        $.ajax({
            method: "post",
            type: "POST",
            url: "/welcome/b?type=" + type,
            success: function (response) {

            },
            error: function (e) {}
        });
    }
</script>

</html>